@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.alert p {
  margin-bottom: 0;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.adelaide-crows {
  background: url("/images/afl-logos.jpg") -23px -10px/500px;
}

.brisbane-lions {
  background: url("/images/afl-logos.jpg") -93px -10px/500px;
}

.carlton-blues {
  background: url("/images/afl-logos.jpg") -173px -10px/500px;
}

.collingwood-magpies {
  background: url("/images/afl-logos.jpg") -263px -10px/500px;
}

.essendon-bombers {
  background: url("/images/afl-logos.jpg") -343px -10px/500px;
}

.fremantle-dockers {
  background: url("/images/afl-logos.jpg") -423px -10px/500px;
}

.port-adelaide-power {
  background: url("/images/afl-logos.jpg") -23px -150px/500px;
}

.richmond-tigers {
  background: url("/images/afl-logos.jpg") -103px -150px/500px;
}

.st-kilda-saints {
  background: url("/images/afl-logos.jpg") -183px -150px/500px;
}

.sydney-swans {
  background: url("/images/afl-logos.jpg") -263px -150px/500px;
}

.west-coast-eagles {
  background: url("/images/afl-logos.jpg") -343px -150px/500px;
}

.western-bulldogs {
  background: url("/images/afl-logos.jpg") -423px -150px/500px;
}

.geelong-cats {
  background: url("/images/afl-logos.jpg") -23px -75px/500px;
}

.gold-coast-suns {
  background: url("/images/afl-logos.jpg") -103px -75px/500px;
}

.greater-western-sydney-giants {
  background: url("/images/afl-logos.jpg") -183px -75px/500px;
}

.hawthorn-hawks {
  background: url("/images/afl-logos.jpg") -263px -75px/500px;
}

.melbourne-demons {
  background: url("/images/afl-logos.jpg") -343px -75px/500px;
}

.north-melbourne-kangaroos {
  background: url("/images/afl-logos.jpg") -423px -75px/500px;
}

.afl-logos {
  background-image: url("/images/afl-logos.jpg");
}

.adelaide-crows-logo {
  background-position-x: -8px;
  background-position-y: -2px;
  background-size: 140px;
}

.brisbane-lions-logo {
  background-position-x: -28px;
  background-position-y: -2px;
  background-size: 140px;
}

.carlton-blues-logo {
  background-position-x: -51px;
  background-position-y: -2px;
  background-size: 140px;
}

.collingwood-magpies-logo {
  background-position-x: -74px;
  background-position-y: -2px;
  background-size: 140px;
}

.essendon-bombers-logo {
  background-position-x: -97px;
  background-position-y: -2px;
  background-size: 140px;
}

.fremantle-dockers-logo {
  background-position-x: -118px;
  background-position-y: -2px;
  background-size: 140px;
}

.north-melbourne-kangaroos-logo {
  background-position-x: -118px;
  background-position-y: -22px;
  background-size: 140px;
}

.melbourne-demons-logo {
  background-position-x: -96px;
  background-position-y: -22px;
  background-size: 140px;
}

.hawthorn-hawks-logo {
  background-position-x: -73px;
  background-position-y: -22px;
  background-size: 140px;
}

.greater-western-sydney-giants-logo {
  background-position-x: -50px;
  background-position-y: -22px;
  background-size: 140px;
}

.gold-coast-suns-logo {
  background-position-x: -27px;
  background-position-y: -24px;
  background-size: 140px;
}

.geelong-cats-logo {
  background-position-x: -5px;
  background-position-y: -22px;
  background-size: 140px;
}

.port-adelaide-power-logo {
  background-position-x: -5px;
  background-position-y: -42px;
  background-size: 140px;
}

.richmond-tigers-logo {
  background-position-x: -27px;
  background-position-y: -42px;
  background-size: 140px;
}

.st-kilda-saints-logo {
  background-position-x: -50px;
  background-position-y: -42px;
  background-size: 140px;
}

.sydney-swans-logo {
  background-position-x: -73px;
  background-position-y: -42px;
  background-size: 140px;
}

.west-coast-eagles-logo {
  background-position-x: -96px;
  background-position-y: -42px;
  background-size: 140px;
}

.western-bulldogs-logo {
  background-position-x: -119px;
  background-position-y: -42px;
  background-size: 140px;
}


@media screen(lg) {
  .adelaide-crows-logo {
    background-position-x: -10px;
    background-position-y: -2px;
    background-size: 250px;
  }

  .brisbane-lions-logo {
    background-position-x: -49px;
    background-position-y: -2px;
    background-size: 250px;
  }

  .carlton-blues-logo {
    background-position-x: -88px;
    background-position-y: -2px;
    background-size: 250px;
  }

  .collingwood-magpies-logo {
    background-position-x: -127px;
    background-position-y: -2px;
    background-size: 250px;
  }

  .essendon-bombers-logo {
    background-position-x: -170px;
    background-position-y: -2px;
    background-size: 250px;
  }

  .fremantle-dockers-logo {
    background-position-x: -209px;
    background-position-y: -2px;
    background-size: 250px;
  }

  .north-melbourne-kangaroos-logo {
    background-position-x: -209px;
    background-position-y: -39px;
    background-size: 250px;
  }

  .melbourne-demons-logo {
    background-position-x: -170px;
    background-position-y: -39px;
    background-size: 250px;
  }

  .hawthorn-hawks-logo {
    background-position-x: -127px;
    background-position-y: -39px;
    background-size: 250px;
  }

  .greater-western-sydney-giants-logo {
    background-position-x: -88px;
    background-position-y: -39px;
    background-size: 250px;
  }

  .gold-coast-suns-logo {
    background-position-x: -49px;
    background-position-y: -41px;
    background-size: 250px;
  }

  .geelong-cats-logo {
    background-position-x: -10px;
    background-position-y: -38px;
    background-size: 250px;
  }

  .port-adelaide-power-logo {
    background-position-x: -10px;
    background-position-y: -75px;
    background-size: 250px;
  }

  .richmond-tigers-logo {
    background-position-x: -49px;
    background-position-y: -75px;
    background-size: 250px;
  }

  .st-kilda-saints-logo {
    background-position-x: -88px;
    background-position-y: -75px;
    background-size: 250px;
  }

  .sydney-swans-logo {
    background-position-x: -127px;
    background-position-y: -75px;
    background-size: 250px;
  }

  .west-coast-eagles-logo {
    background-position-x: -170px;
    background-position-y: -73px;
    background-size: 245px;
  }

  .western-bulldogs-logo {
    background-position-x: -207px;
    background-position-y: -75px;
    background-size: 250px;
  }
}
